{% extends "FOSUserBundle::xx.html.twig" %}
{% block titre %} Modifier mot de passse  {% endblock %}
 {% block changepass %}
{% block fos_user_content %}
   

   {% block  profile %}
         <fieldset style="width:300px;">
             <legend>Change Password</legend>
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
         </fieldset>
{% endblock %}

{% endblock fos_user_content %}
{% endblock %}
{%block insc %}

    <a href="{{path('fos_user_profile_show')}}">My Account</a>
    
    {% endblock %}
