{% extends "FOSUserBundle::layout.html.twig" %}
{%block insc %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href="{{path('fos_user_profile_show')}}">My Account</a>
    
{% else %}
        
        <a href="{{path('fos_user_registration_register')}}">Create Account</a>
        
{% endif %}
{% endblock %}